body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #131313;
}

header {
    padding: 1em 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    column-gap: 30px;
}
header nav a {
    margin: 0 1em;
    text-decoration: none;
    font-size: 1.0rem;
}
h1.brand-text {
    font-size: 1.3rem;
    line-height: 0;
}
h2.brand-text {
    font-size: 1rem;
}
div.btn-group {
    margin-left: auto;
}
main {
    padding: 3em 8em;
    display: flex;
    flex-direction: row;
    gap: 35px;
}
main div.left, main div.right {
    
}
main div.left {
    width: 70%;
}
main div.right {
    width: 30%;
}
section.about {
    height: auto;
    color: #eeeeee;
    padding: 15px;
}
section.projects {
    padding: 15px;
}
section.contact, section.skills, section.courses, section.projects {
    background-color: #eeeeee;
    height: auto;
    margin-bottom: 64px;
    padding: 15px;

}
.project {
    padding: 10px;
}
a.btn, button {
    border: 1px solid #eeeeee;
    color: #1a1a1a;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: .9rem;
    background-color: #cacaca;
}
a.btn:hover, button:hover {
    border: 1px solid #dad1d1;
}
button{
    cursor: pointer;
}
