body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #131313;
}

header {
    padding: 1em 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    column-gap: 30px;
    padding: 3em 8em;
}
header nav a {
    margin: 0 1em;
    text-decoration: none;
    font-size: 1.0rem;
}
h1.brand-text {
    font-size: 1.8rem;
    line-height: 0;
}
h2.brand-text {
    font-size: 1.4rem;
    color: #797979;
    font-weight: 300;
}
div.btn-group {
    margin-left: auto;
    display: flex;
    gap: 16px;
}
div.btn-group a{
    text-decoration: none;
}
div.logo-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
img.logo {
    width: 100%;
    height: auto;
}
svg {
    color: #131313;
}
svg:hover {
    color: #131313c2;
}

main {
    padding: 3em 8em;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-bottom: 0;
}
main div.left {
    width: 70%;
}
main div.right {
    width: 30%;
}
section.about p {
    line-height: 1.5;
}
section.about, section.contact, section.skills, section.courses, section.projects {
    background-color: #eeeeee;
    height: auto;
    margin-bottom: 64px;
    padding: 30px 20px;
}
section.contact p svg {
    padding-right: 8px;
}
div.skill-container {
    display: flex;
    flex-wrap: wrap;
}
div.skill-container svg {
    padding: 10px;
    flex-basis: 25%;
}
div.project {
    padding-bottom: 40px;
}
a.btn, button {
    border: 1px solid #eeeeee;
    color: #eeeeee;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: .9rem;
    background-color: #131313;
}
a.btn:hover, button:hover {
    border: 1px solid #131313c2;
}
button{
    cursor: pointer;
}
.course {
    padding: 5px;
}
.course img {
    width: 75px;
    height: auto;
}
.course p a {
    text-decoration: none;
    color: #131313;
}
footer {
    text-align: center;
    color: #eeeeee;
}