<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/3b1ab49e86.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo-container">
            <img class="logo" src="/static/img/headshot.png" alt="">
        </div>
        <div class="brand">
            <h1 class="brand-text">RaShunda Williams</h1>
            <h2 class="brand-text">Web Developer</h2>
        </div>
        <div class="btn-group">
            <a href="https://www.linkedin.com/in/rashundalanierwilliams/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-2xl"></i>
            </a>
            <a href="https://github.com/rlanier-webdev" target="_blank">
                <i class="fa-brands fa-github fa-2xl"></i>
            </a>
            <a href="https://dev.to/thrtn85dev" target="_blank">
                <i class="fa-brands fa-dev fa-2xl"></i>
            </a>
        </div>
    </header>
    <main>
        {{block "content" .}}{{end}}
    </main>
    <footer>
        <p>2024 RaShunda Williams</p>
    </footer>
</body>
</html>
