<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/3b1ab49e86.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        
        <div class="brand">
            <h1 class="brand-text">RaShunda Williams</h1>
            <h2 class="brand-text">Web Developer</h2>
        </div>
        <div class="btn-group">
            <a href="https://www.linkedin.com/in/rashundalanierwilliams/" target="_blank">
                <i class="fa-brands fa-linkedin-in fa-2xl" alt="LinkedIn"></i>
            </a>
            <a href="https://github.com/rlanier-webdev" target="_blank">
                <i class="fa-brands fa-github fa-2xl" alt="Github"></i>
            </a>
            <a href="https://dev.to/thrtn85dev" target="_blank">
                <i class="fa-brands fa-dev fa-2xl" alt="Dev.to"></i>
            </a>
        </div>
    </header>
    <main>
        {{block "content" .}}{{end}}
    </main>
    <footer>
        <p>2025 RaShunda Williams</p>
        <p><i class="fa-solid fa-envelope"></i> rashundalanier@gmail.com</p>
    </footer>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7SVD1DDNS8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7SVD1DDNS8');
    </script>
</body>
</html>
