{{ define "content" }}
<div class="content-container">
     <section class="about">
          <h2>About Me</h2>
          <p>As a customer support specialist with development experience, I'm passionate about using technology to address real-world problems. My background in customer support has honed my ability to understand user needs, troubleshoot issues, and deliver solutions with empathy—skills I now leverage to create user-focused web applications. I have a solid foundation in HTML, CSS, and JavaScript, along with experience in Python and Django, and I'm dedicated to building impactful solutions. I've also explored low and no-code tools to improve development efficiency. Currently, I'm expanding my skills with Go and thrive on continuous learning and pushing my capabilities.</p>
     </section>

     <section class="skills">
          <h2>Tech Stack</h2>
          <div class="skill-container">
               <i class="fa-brands fa-html5 fa-2xl" alt="HTML5"></i>
               <i class="fa-brands fa-css3-alt fa-2xl" alt="CSS"></i>
               <i class="fa-brands fa-js fa-2xl" alt="JavaScript"></i>
               <i class="fa-brands fa-golang fa-2xl" alt="Go"></i>
               <i class="fa-brands fa-python fa-2xl" alt="Python"></i>
               <i class="fa-brands fa-square-git fa-2xl" alt="Git"></i>
               <i class="fa-brands fa-bootstrap fa-2xl" alt="Bootstrap"></i>
               <i class="fa-brands fa-wordpress fa-2xl" alt="Wordpress"></i>
          </div>
     </section>

     <section class="projects">
          <h2>Recent Projects</h2>
          {{ range $i, $project := .Projects }}
               {{ if eq (mod $i 2) 0 }}
               <div class="project-row"> <!-- Start a new row -->
               {{ end }}

                    <div class="project-card">
                         <h3>{{ $project.Name }}</h3>
                         <p class="project-desc">{{ $project.Description }}</p>
                         <a class="btn" href="{{ $project.URL }}" target="_blank">View Project</a>
                    </div>

               {{ if eq (mod (add $i 1) 2) 0 }}
               </div> <!-- End the current row -->
               {{ end }}
          {{ end }}

          <!-- Close the last row if it was not closed -->
          {{ if ne (mod (len .Projects) 2) 0 }}
               </div>
          {{ end }}
     </section>

     <section class="courses">
          <h2>Recent Courses</h2>
          
          <div class="course">
               <table>
                    <thead>
                         <tr>
                              <th>Name</th>
                              <th>Platform</th>
                              <th>Completion Date</th>
                              <th>Certificate</th>
                         </tr>
                    </thead>
                    <tbody>
                         {{ range .Courses }}
                         <tr>
                              <td>{{.Name}}</td>
                              <td>{{.Platform}}</td>
                              <td>{{.CompletionDate}}</td>
                              <td>
                                   {{if .URL}}
                                        <a href="{{.URL}}" target="_blank">View</a>
                                   {{else}}
                                   N/A
                                   {{end}}
                              </td>
                         </tr>
                         {{ end }}
                    </tbody>
               </table>
          </div>
     </section>
</div>

{{ end }}
